@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #030243;
  --secondary: #FF6B4A;
  --secondary-50: #fea08b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #030243;
    --secondary: #FF6B4A;
    --secondary-50: #fea08b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', sans-serif;
}

/* Animation de fondu pour le loader */
.loader-container {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.loader-container.hidden {
  opacity: 0;
}

.custom-loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffffff 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
    transform: rotate(1turn);
  }
}

/* src/app/globals.css */
@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll-logo {
  animation: scroll 20s linear infinite;
  /* Ajustez la durée selon vos besoins */
  white-space: nowrap;
  /* Empêche le retour à la ligne */
}

@keyframes strike {
  0% {
    text-decoration: none;
    transform: translateX(0);
  }

  100% {
    text-decoration: line-through;
    transform: translateX(-100%);
  }
}

@keyframes rotate-in {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
    /* Déplacement vers le bas */
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Déplacement vers le haut */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-through {
  animation: strike 1.5s forwards, disappear 1s forwards;
  /* Ajouter disappear après strike */
}

.rotate-in {
  animation: appear 1s forwards;
  /* Animation pour faire apparaître "histoires" */
}