/* styles.css ou un fichier CSS global */
.video-container {
  position: relative;
  overflow: hidden;
}

.video-container img,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  /* Transition de 0.5 secondes */
}

.video-container img.hidden,
.video-container iframe.hidden {
  opacity: 0;
  /* Masquer l'élément */
}